:root{
    --bgcolor-dark: #1F2937;
    --bgcolor-light:#FFFFFF;
    --main-text:#f9f8f9;
    --link-text:#e5e7eb;
    --button-color:#3882f6;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* header section */

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
}

a{
    text-decoration: none;
    color:var(--main-text) ;
}

.links{
    display: flex;
    gap: 30px;
    color: var(--link-text);
}

#container{
    padding: 0 200px;
}

.header{
    position: fixed;
    background-color: var(--bgcolor-dark); 
    width: 100%;
    
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

/* hero section */

.hero{
    background-color: var(--bgcolor-dark);
    display: flex;
    gap: 200px;
}

.h-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 250px 0;
    width: 600px;
}

h2{
    color: var(--main-text);
    font-size: 48px;
}
.h-content>p{
    font-size: 18px;
    color: var(--link-text);
}

button{
    background-color: var(--button-color);
    color: var(--main-text);
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

.image{
    display: flex;
    align-items: center;
}

/* features section */

.f-sect{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

h1{
    color: var(--bgcolor-dark);
    font-size: 36px;
    font-weight:bolder;
}

.f-content{
    display: flex;
    gap: 50px;
}

.feat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    
}

.imgs{
    border: 2px solid var(--button-color);
    border-radius: 10px;
    height: 200px;
    width: 250px;   
    overflow-y: hidden;
}



.f-content p{
    font-size: 16px;
    text-align: center;
}

/* Review section */
.review{
    background-color: var(--link-text);
    display: flex;
    
}

.rev-sec{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.quote{
    color: var(--bgcolor-dark);
    font-size: 36px;
    font-style:italic ;
    
}

.name{
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

/* call to action */

.cta{
    padding: 50px 0;
}

.box{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 30px;
    border-radius: 10px;
    margin: 90px 0;
}

.box>button{
    border: 2px solid #f9f8f9;
}