:root{
    --bgcolor-dark: #1F2937;
    --bgcolor-light:#FFFFFF;
    --main-text:#f9f8f9;
    --link-text:#e5e7eb;
    --button-color:#3882f6;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}

/* header section */

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

a{
    text-decoration: none;
    color:var(--main-text) ;
}

.links{
    display: flex;
    gap: 30px;
    color: var(--link-text);
}

#container{
    padding: 0 200px;
}

.header{
    background-color: var(--bgcolor-dark); 
     
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

/* hero section */

.hero{
    background-color: var(--bgcolor-dark);
    display: flex;
    gap: 200px;
}

.h-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 150px 0;
    width: 600px;
}

h2{
    color: var(--main-text);
    font-size: 48px;
}
p{
    font-size: 18px;
    color: var(--link-text);
}

button{
    background-color: var(--button-color);
    color: var(--main-text);
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

.image{
    display: flex;
    align-items: center;
    
}